<%= form_with(model: county, local: true) do |form| %>
  <% if county.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(county.errors.count, "error") %> prohibited this county from being saved:</h2>

      <ul>
      <% county.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tax_rate %>
    <%= form.text_field :tax_rate %>
  </div>

  <div class="field">
    <%= form.label :markup %>
    <%= form.text_field :markup %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
